@import "base/colores";
@import "base/fuentes";
@import "base/medidas";
@import "base/animaciones";

html{
    font-size: 16px;
}

body{
    font-family: $spartan;
    background-color: $blanco;
    font-weight: bolder;

    h1 {
    color: $rosa;
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 12px;
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    }
    h2{
        color: $rosa;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 2%;
    }
    table {
        width: 100%;
        
        thead{
            text-align: center;
            
            th{
                padding-bottom: 35px;
                padding-top: 35px;
            }
        }
    }
    a{
        :link { 
        text-decoration:none;
        color: $sienna;
        }
        :visited { 
        text-decoration:none;
        color: $sienna; 
        }
    }

}

.ficha__imagen{
    float: left;
    width: $ancho/2;
}
.ficha__texto{
    float: right;
    width: ($ancho/2)-150;
    padding-top: 2%;
    text-align: justify;
}
.ficha__imagen__dos{
    padding-top: 3%;
    padding-bottom: 3%;
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
}

.menu {
    color: $sienna;
    font-size: 15px;
    height: 20%;
    width: 100%;
    padding: 2% 0% 2% 0%;
    background-color: $rosa;
}
.imgCalendario{
    width: 190px;
    height: 190px;
}
.calendarioJunio{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 7%);
    grid-template-rows: repeat(5, 20%);
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#login {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
}

.msj{
    width: $ancho - 50;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.foto{
    width: 1349px; 
    height: 460px;
}


.espacioTabla{
    padding-top: 4%;
    padding-bottom: 4%;
}
.gridTabla {
    display: grid;
    grid-template-rows: repeat(9 , 40px);
    grid-template-columns: 49% 17% 17% 17%;
    justify-content: space-evenly;
    color: $sienna;
    font-size: larger;
    font-weight: bold;
    background-color: $rosa;
    text-align: center;
    
}


.textoGeneral {
    font-size: 25px;
    text-align: justify;
}
.input{
    width: 80px;
    height: 20px;
    transition: all 2s;

    .input:hover{
        width: 200px;
        font-size: 20px;
    }
}

footer{
    color: $sienna;
    font-weight: bolder;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    height: 20%;
    padding: 3% 0% 2% 2%;
    background-color: $rosa;

    @each $red in twitter, instagram, youtube {
        @if $red == twitter {
            .p#{$red} { 
            color: blue;
        }
        }
        @if $red == youtube {
            .p#{$red} { 
            color: red;
        }
        }
        @if $red == instagram {
            .p#{$red} { 
            color: purple;
        }
        }
    }
}

